.login-design {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.loginBtn {
  width: 100%;
  background-color: #187afd;
}

.titleDesgin {
  padding: 25px;
  text-align: center;
}

.mainDesign {
  width: 50%;
  height: 450px;
  margin-top: 5%;
  margin-left: 23%;
  border-radius: 2%;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #aaaaaa;
}
